  :root{
    --primary-clr-1: rgb(99, 10, 16);
    --primary-clr-2: rgb(145, 31, 39);
    --secondary-clr-1: rgb(255, 237, 218);
    --secondary-clr-2: rgb(252, 240, 200);
  }
  .container {
    background: var(--secondary-clr-1);
    padding: 1.5rem 2rem;
    border-radius: 1rem;
    /* transition:  */
    text-align: center;
    width: 60%;
    margin: 2rem auto;
  }
  .container:hover {
    box-shadow: 1px 1px 1px var(--primary-clr-2);
  }
  .imgContainer {
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 0 auto;
    margin-bottom: 1.5rem;
  }
  .personImg {
    width: 100%;
    display: block;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    position: relative;
  }
  .quoteIcon {
    position: absolute;
    top: 0;
    left: 0;
    width: 2.5rem;
    height: 2.5rem;
    display: grid;
    place-items: center;
    border-radius: 50%;
    transform: translateY(25%);
    background: var(--primary-clr-1);
    color: white;
  }
  .imgContainer::before {
    content: '';
    width: 100%;
    height: 100%;
    background: var(--primary-clr-1);
    position: absolute;
    top: -0.25rem;
    right: -0.5rem;
    border-radius: 50%;
  }
  .author {
    margin-bottom: 0.25rem;
  }
  .job {
    margin-bottom: 0.5rem;
    text-transform: uppercase;
    color: var(--primary-clr-1);
    font-size: 0.85rem;
  }
  .info {
    margin-bottom: 0.75rem;
  }
  .prevBtn,
  .nextBtn {
    color: var(--primary-clr-1);
    font-size: 1.25rem;
    background: transparent;
    border-color: transparent;
    margin: 0 0.5rem;
    /* transition:  */
    cursor: pointer;
  }
  .prevBtn:hover,
  .nextBtn:hover {
    color: var(--primary-clr-2);
  }
  .randomBtn {
    margin-top: 0.5rem;
    background: var(--primary-clr-1);
    color: white;
    padding: 0.25rem 0.5rem;
    text-transform: capitalize;
    border-radius: 0.2rem;
    /* transition: */
    border-color: transparent;
    cursor: pointer;
  }
  .randomBtn:hover {
    background: var(--primary-clr-2);
    color: white;
  }

 